@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-size-xs:   0.65rem;
  --font-size-sm:   0.75rem;
  --font-size-base: 0.8rem;
  --font-size-lg:   0.875rem;
  --font-size-xl:   1rem;
  --font-size-2xl:  1.15rem;
  --font-size-3xl:  1.35rem;
  --font-size-4xl:  1.6rem;
  --font-size-5xl:  1.9rem;
  --font-size-6xl:  2.2rem;
}